<div>
  <h1>All blogs </h1>
   @for (item of featuredblog; track $index) {
    <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{item.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="item.images" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>{{item.description}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button [routerLink]="['/blog/', item.id]">Read More</button>

        </mat-card-actions>
    </mat-card>
    }

</div>
