 <div class="flex flex-col justify-center items-center px-20 h-80 text-center">
    <h1 class="text-2xl font-bold">Welcome to BlogApp</h1>
    <p class="w-6/12 text-lg text-gray-600 mt-2">
        BlogApp is a modern and user-friendly platform designed for sharing ideas, stories, and insights. 
        It allows users to create, read, and engage with blog posts on various topics, offering a seamless 
        and interactive experience. 🚀
    </p>
</div>

<div>
    <h2>
        featured Blog 
    </h2>
</div>