<div>
    <h1>Welcome to BlogApp</h1>
    <p>
        BlogApp is a modern and user-friendly platform designed for sharing ideas, stories, and insights. 
        It allows users to create, read, and engage with blog posts on various topics, offering a seamless 
        and interactive experience. 🚀
    </p>
</div>

<div>
    <h2>Featured Blog</h2>
    @for (item of featuredblog; track $index) {
    <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{item.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="item.images" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>{{item.description}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>Read More</button>
        </mat-card-actions>
    </mat-card>
    }
</div>
    
